DATABASE_URL=mysql://<USERNAME>:<PLAIN_TEXT_PASSWORD>@<ACCESS_HOST_URL>/<DATABASE_NAME>?sslaccept=strict
SHADOW_DATABASE_URL=mysql://<USERNAME>:<PLAIN_TEXT_PASSWORD>@<ACCESS_HOST_URL>/<DATABASE_NAME>?sslaccept=strict

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GITHUB_ID=
GITHUB_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
